<!-- Mat card with a header, image and footer to show likes -->
<div class="post-card">
  <mat-card>
    <mat-card-header style="margin-bottom: 1em">
      <mat-card-title class="title" [routerLink]="['/post/'+ post?.id]">{{ post?.title }}</mat-card-title>
    </mat-card-header>
    <img class="image" mat-card-image [src]="post?.imageURL" [alt]="post?.title" loading="lazy">
    <mat-card-actions>
      <button (click)="likePost(post?.id)" mat-button>{{ post?.loveIts }} LIKES</button>
      <button (click)="copyLink()" mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
